@model CompetencyMatrix.ViewModels.PositionMatrixDetails
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add new position matrix</h4>
        </div>
        <form id="positionMatrixCreateModalForm" class="form-horizontal" role="form" asp-controller="PositionMatrix" asp-action="Create" data-ajax="true"
              data-ajax-method="POST" data-ajax-success="OnCreatePositioMatrixSuccess" data-ajax-failure="OnCreatePositioMatrixFailure">
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="positionMatrixCreateModalFormName" asp-for="Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-floppy-remove"></span><span>  Cancel</span>
                </button>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-save"></span><span>  Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $.validator.unobtrusive.parse("#positionMatrixCreateModalForm");
</script>