<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\Log\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

   
    <target xsi:type="File" name="ownFile-web" fileName="c:\Log\nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} {exception:format=ToString}" />

    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database" > 
      <connectionString>
          Data Source=.\SQLEXPRESS;Initial Catalog=dev.CompetencyMatrix;Integrated Security=True;
      </connectionString>
      <commandText>
              insert into dbo.Log (
              Logged, EventId, Level, Message,
              Logger, Environment, Exception
              ) values (
              @Logged, @EventId, @Level, @Message,
              @Logger, @Environment, @Exception
              );
          </commandText>
 
          <parameter name="@logged" layout="${date:format=dd/MM/yyyy}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@message" layout="${message}" />
          <parameter name ="@eventId" layout="${event-properties:item=EventId.Id} ${event-properties:item=EventId.Name}" />
          <parameter name="@logger" layout="${logger} ${callsite:filename=true}" />
          <parameter name ="@environment" layout="Url: ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}${newline}HTTP Method: ${aspnet-request-method}${newline}Referrer: ${aspnet-request-referrer}${newline}UserAgent: ${aspnet-request-useragent}${newline}Controller: ${aspnet-mvc-controller}, Action: ${aspnet-mvc-action}${newline}AuthType: ${aspnet-user-authtype}, Identity: ${aspnet-user-identity}" />
          <parameter name="@exception" layout="${exception:tostring}" />
      </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>