
<table id="trainingSertificationTbl" class="table table-condensed table-striped table-hover">
    <colgroup class="row">

        <col width="200" />
        <col width="*" />
        <col width="200" />


    </colgroup>
    <thead class="row" style="background-color: darkgray">
        <tr>

            <th>Type</th>
            <th>Name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

    var listSertificatesUrl = "@Url.Action("List", "TrainingSertifications")";

    initSertificationTab();

</script>