<div class="well">
	<table id="employeestree" class="table table-condensed table-striped table-hover">
	    <colgroup>
	        <col width="0px" />
	        <col width="*" />
	        <col style="align-content: left;width:400px" />
	        
	    </colgroup>
        <thead>
            <tr class="row"> <th style="padding-left: 50px;">Name</th> <th>Office</th> <th>Title</th> <th>Profile Status</th> </tr>
        </thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

<script>

	initEmployeesEditorTree();

</script>
