@model CompetencyMatrix.ViewModels.SkillCategoryEditorViewModel

@*<div class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Got it!</span></button>
		<ul>
			<li>Change skill properties here</li>
			<li>Modify skill levels</li>
			<li>Update training and questionary information</li>
		</ul>
	</div>*@

@Html.EditorForModel("SkillCategoryEditor")