@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-lg-2" style="padding: 2px">
            <div id="adminMenuItems" class="well">
                <ul class="list-group nav nav-pills nav-stacked">
                    <li id="adminUsersMenuitem" class="list-group-item">
                        <a asp-controller="Administration" asp-action="Users">Users</a>
                    </li>
                    <li id="adminMailTemplatesItem" class="list-group-item">
                        <a asp-controller="Administration" asp-action="MailTemplates">Mail Templates</a>
                    </li>
                    <li id="adminLogsMenuitem" class="list-group-item">
                        <a asp-controller="Administration" asp-action="Logs">Logs</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-lg-10" style="padding: 2px">
            <div class="well admin-content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
<script>
    function activateAdminMenItem(menuItemSelector) {
        $("#adminMenuItems > ul > li").removeClass("active");
        $(menuItemSelector).addClass("active");
    }
</script>